.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 20px;
   
}
.box{
    width: 100%;
}
.Tumbnail{
    width: 100%;
    position: relative;
}
.tumb{
    width: 100%;
}
.protext{
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
}
/*.logo{
    width: 50px;
    display: inline-block;
}*/
.pro{
    width: 100%;   
    border-radius: 50%;
    margin-left: 2px;
}
.text{
    width: 100%;
    display: grid;
}
.p1{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}
.p2,.p3{
    font-size: 13px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 8px;
}
.time{
  background-color: black;
  color: white;
  position: absolute;
  right: 5px;
  bottom: 10px;
  border-radius: 2px;
  padding: 1px 2px;
  font-size: 11px;
 }
 @media(max-width:800px){
 .grid{
    grid-template-columns: 1fr 1fr;
 }
}
 @media(min-width:801px) and (max-width:999px){
    .grid{
    grid-template-columns: 1fr 1fr 1fr;
    }
 }
 @media(min-width:1000px){
    .grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }
